.avatar__pen
{
  background-image: url(../../../images/edit-avatar.svg);
  background-size: 26px 26px;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;
}
