.profile__info
{
  padding: 0;
  margin: auto 0 auto 30px;

  display: grid;
  grid-template-columns: fit-content(550px) 24px 1fr;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    "title edit ."
    "subtitle subtitle subtitle";
  row-gap: 16px;
  column-gap: 18px;
  align-items: end;
}

@media screen and (max-width: 425px)
{
  .profile__info
  {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "subtitle";

    row-gap: 14px;
    column-gap: 0;

    margin: 26px 0 auto;
    max-width: calc(100% - 2*28px);
  }
}
