.form-popup__input
{
  margin: 0 36px;
  padding: 0 0 13px;

  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  min-height: 27px;
  width: calc(430px - 2*36px);

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form-popup__input::placeholder
{
  color: rgba(0, 0, 0, 0.2);
}

.form-popup__input:first-child
{
  margin-top: 54px;
}

@media screen and (max-width: 460px)
{
  .form-popup__input
  {
    margin: 0 22px;
    width: calc(282px - 2*22px);
  }

  .form-popup__input:first-child
  {
    margin-top: 70px;
  }
}
