.page
{
  background-color: #000000;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

/*
*
{
  border: dashed 1px blue;
}
*/
